* {
    box-sizing: border-box;
}
/* General Styling */

h1,h2,h3,h4,h5,h6,h7,h8 {
    font-family: 'Lexend Mega', sans-serif;
}

p,a {
    font-family: 'Roboto', sans-serif
}

a, a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none;
}

.image-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Header & Nav Styling */

header {
    display: flex;
    padding: 10px;
    color: white;
    background: rgb(27, 27, 43);
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: lightblue; 
}

/* Hero Image Styling */

.hero {
    background-image: url("../Images/black-sand.jpg");
    color: lightseagreen;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  0 0 20px black;
    flex-direction: column;
}

/* Page Content Container */

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1140px;
}

main section {
    display: flex;
    min-height: 100px;
    margin: 30px auto;
    width: 100%;
}

/* Section Styling */

.section-header {
    border-right: solid blueviolet;
    width: 150px;
    margin: 0 20px 0 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 0 0;
}

.section-content {
    width: 80%;
}

/* Developer Picture Section Styling */

.picture-section figure {
    display: flex;
    justify-content: center;
}

.picture-section figure img {
    border-radius: 180px;
    width: 20%;
}

/* Project Section Styling */

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-container a figure div {
    width: 100%;
    height: 25%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.project-container a figure {
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow:  0 0 15px black;
}

.project-large {
    border-radius: 360px;
    width: 100%;
    margin: 0;
    background-image: url(../Images/01-html-css-git-homework-demo.png);
    background-position: left top;
    height: 350px;
}

.project-small {
    width: 49%;
    border-radius: 360px;
    margin: 40px 0 0 0;
    height: 200px;
}

.project-small figure {
    width: 100%;
    margin: 0;
}

.project-2-photo {
    background-image: url(../Images/pexels-sharad-kachhi-3937174.jpg);
}

.project-3-photo {
    background-image: url(../Images/pexels-josh-sorenson-1714208.jpg);
}

.project-4-photo {
    background-image: url(../Images/pexels-fox-1038916.jpg);
}

.project-5-photo{
    background-image: url(../Images/pexels-designecologist-1779487.jpg);
}

.border:hover {
    cursor: pointer;
    box-shadow:  0 0 15px lightseagreen;
}

/* Contact Section Styling */

.contact-section .section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Media Queries for Smaller Screens */

@media screen and (max-width: 768px) {
    main section {
        flex-direction: column;
    }

    .section-header {
        margin: 20px 0;
        padding: 20px 0;
        border-right: none;
        border-bottom: solid blueviolet;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .section-content {
        width: 100%;
        padding: 0 10px;
    }

    .project-small {
        width: 100%;
    }

  }
