* {
    box-sizing: border-box;
}

body {
    font-family: Arial;   
}

header {
    display: flex;
    padding: 1px;
    color: white;
    background: rgb(27, 27, 43);
    justify-content: space-between;
    align-items: center;
}

header h1 {
    background-color: lightblue;
    color: rgb(27, 27, 43);
}

nav a {
    color: lightblue;
    
}


.taco {
    background-image: url("../Images/black-sand.jpg");
    background-size: 2560px 200px;
    background-repeat: no-repeat;
    color: lightseagreen;
    padding: 40px;
    
}

.taco div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}


.project-large  {
    display: flex;
    color: white;
    width: 1100px;
    border: 5px solid lightseagreen;
    padding: 250px;
    margin: 40px;
    
}

.project-large-photo {
    background-image: url(../Images/pexels-otavio-fonseca-4665064.jpg);
    background-size: 1100px 900px;
    background-repeat: no-repeat;
}


.project-small {
    display: flex;
    width: 600px;
    border: 5px solid lightseagreen;
    padding: 50px;
    margin: 20px;
}

.project-2-photo {
    background-image: url(../Images/pexels-sharad-kachhi-3937174.jpg);
    background-repeat: no-repeat;
    background-size: 600px 400px;
}

.project-3-photo {
    background-image: url(../Images/pexels-josh-sorenson-1714208.jpg);
    background-repeat: no-repeat;
    background-size: 600px 400px;
}

.project-4-photo {
    background-image: url(../Images/pexels-fox-1038916.jpg);
    background-repeat: no-repeat;
    background-size: 600px 400px;
}

.project-5-photo{
    background-image: url(../Images/pexels-designecologist-1779487.jpg);
    background-repeat: no-repeat;
    background-size: 600px 400px;
}










main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1140px;

}

main section {
    display: flex;
    min-height: 100px;
    margin: 30px auto;
    width: 100%;
}

.section-header {
    border-right: solid blueviolet;
    width: 150px;
    margin: 0 20px 0 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 0 0;
}

.section-content {
    width: 80%;
}

@media screen and (max-width: 768px) {
    main section {
        flex-direction: column;
    }

    .section-header {
        margin: 20px 0;
        padding: 20px 0;
        border-right: none;
        border-bottom: solid blueviolet;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .section-content {
        width: 100%;
        
    }
  }
